.about
  padding-bottom: 179px
  &__title
    margin-bottom: 85px
    font-family: Open Sans
    font-size: 40px
    font-weight: 600
    line-height: 54px
    letter-spacing: 0.02em
    text-align: left
  &__content
    display: grid
    grid-template-columns: 1fr 1fr
    grid-template-rows: 1fr
    gap: 100px
  &__text-wrapper
    padding-top: 54px
  &__text
    margin-bottom: 15px
    font-family: Montserrat
    font-size: 15px
    font-weight: 400
    line-height: 18px
    letter-spacing: 0em
    text-align: left
  &__photo
    max-width: 906px
    max-height: 522px
  &__icon
    position: absolute !important
    bottom: -37px
    left: 0
    width: 227px
    height: 153px
