.icon-bg
  background-repeat: no-repeat
  background-position: center top

// .icon-building-pools
//   background-image: url(./assets/icons/services/services-building-pools.svg)

// .icon-artificial
//   background-image: url(./assets/icons/services/services-artificial.svg)

// .icon-building-fontains
//   background-image: url(./assets/icons/services/services-building-fontains.svg)

// .icon-dewatering
//   background-image: url(./assets/icons/services/services-dewatering.svg)

// .icon-watering
//   background-image: url(./assets/icons/services/services-watering.svg)

// .icon-landscaping
//   background-image: url(./assets/icons/services/services-landscaping.svg)

// .icon-whatsapp
//   background-image: url(./assets/icons/contacts/whatsapp.svg)

// .icon-vk
//   background-image: url(./assets/icons/contacts/vk.svg)

.icon-logo
  background: url(./assets/img/logo.png) left center / contain no-repeat
