.contacts
  z-index: 0
  padding-bottom: 135px
  &__title
    margin-bottom: 85px
  &__subtitle
    margin-bottom: 68px
    font-family: $font-primary
    font-size: 22px
    font-weight: 500
    line-height: 27px
    letter-spacing: 0.02em
  &__content
    position: relative
    display: grid
    grid-template-columns: 1fr 1fr
    gap: 35px 20px
    align-items: center
  &__wrapper
    display: flex
    justify-content: flex-start
  &__links
    margin-right: 87px
  &__phones
    margin-bottom: 50px
  &__socials
    display: flex
    justify-content: flex-start
    align-items: center
  &__social
    &:not(:last-child)
      margin-right: 30px
    svg
      fill: $cl-secondary-3
  &__map
    width: 100%
    height: 478px
  &__icon
    position: absolute
    z-index: 3
    left: 389px
    bottom: -94px
    width: 244px
    height: 121px
  &__contact
    svg
      fill: $cl-secondary-3

.maps
  // outline: 1px solid red
  width: 100%
  max-width: 100%
  overflow: hidden

.contact
  &--phone
    display: flex
    margin-bottom: 20px
  &__value
    flex-grow: 0
    flex-shrink: 0
    margin-right: 24px
    width: 170px
    font-family: $font-primary
    font-style: normal
    font-weight: 400
    font-size: 18px
    line-height: 22px
    letter-spacing: 0.02em
    color: $cl-primary
  &__text
    font-family: $font-secondary
    font-size: 16px
    font-weight: 600
    line-height: 22px
    letter-spacing: 0em

.schedule
  &__text
    flex-grow: 0
    flex-shrink: 0
    margin-right: 24px
    font-family: $font-primary
    font-style: normal
    font-weight: 400
    font-size: 18px
    line-height: 22px
    letter-spacing: 0.02em
    color: $cl-primary
    &:not(:last-child)
      margin-bottom: 20px

// ! отключить нижнюю панель с копирайтом и такси
ymaps[class$="map-copyrights-promo"]
      display: none

@media (max-width: 1399.98px)
  .contacts
    &__content
      grid-template-columns: 1fr
    &__icon
      right: 0
      left: inherit
      bottom: -120px
      width: 175px
      height: 87px
    &__links
      margin-bottom: 50px

  .schedule-wrapper
    margin-bottom: 50px

@media (max-width: 767.98px)
  .contacts
    padding-bottom: 85px
    &__wrapper
      justify-content: space-between
      flex-wrap: wrap
    &__links
      margin-right: 20px
    &__icon
      bottom: -45px
      width: 60px
      height: 30px
    &__subtitle
      margin-bottom: 50px
      font-size: 19px
      line-height: 23px

  .contact
    &__value
      font-size: 15px
      line-height: 18px
    &__text
      font-size: 15px
      line-height: 20px

  .schedule-wrapper
    margin-bottom: 15px
