.features
  position: relative
  padding: 107px 0 274px
  *:not(.gradient)
    position: relative
    z-index: 2
  &__gradient
    right: 0
  &__title
    margin-bottom: 113px

.features-grid
  display: grid
  grid-template-columns: 1fr 1fr
  grid-template-rows: repeat(3, 1fr)
  background-color: #D4EBFF

.feature
  display: flex
  justify-content: stretch
  align-items: flex-start
  padding-top: 62px
  padding-left: 75px
  padding-right: 150px
  border: 1px solid #0984E2
  min-height: 245px
  &__icon
    display: flex
    justify-content: flex-end
    align-items: flex-start
    flex-grow: 0
    flex-shrink: 0
    margin-right: 20px
    width: 37px
    height: 37px
  &__title
    margin-bottom: 33px
    font-family: 'Montserrat'
    font-style: normal
    font-weight: 500
    font-size: 25px
    line-height: 30px
    letter-spacing: 0.02em
    color: #000000
  &__descr
    font-family: 'Montserrat'
    font-style: normal
    font-weight: 400
    font-size: 16px
    line-height: 20px
    letter-spacing: 0.02em
    color: #000000
  &__border-right-up-dot
    position: absolute !important
    top: -7px
    right: -7px
    border-radius: 50%
    border: none
    background-color: #0085FF
    width: 12px
    height: 12px
