@import '../sass/init/_variables'

.header
  position: relative
  &__bg
    position: absolute
    top: 0
    left: 0
    right: 0
    z-index: -1
    background-image: url(../assets/img/bg-wave.jpg)
    background-position: left bottom
    background-repeat: repeat-x
    background-size: auto 575px
    width: 100vw
    height: 565px
  &__top
    display: flex
    justify-content: flex-start
    align-items: center
    padding-top: 53px
    padding-bottom: 51px
  &__burger
    flex-shrink: 0
    margin-right: 102px
    border: none
    width: 40px
    height: 28px
    svg
      stroke: $cl-secondary-1
      transition: stroke .2s ease-in-out
    &:hover
      svg
        stroke: $cl-secondary-4
  &__contacts
    display: flex
    justify-content: flex-end
    align-items: center
    margin-left: auto
    &--socials
      display: flex
      justify-content: flex-start
      align-items: center
      margin-right: 133px
      .contact-social
        &:not(:last-child)
          margin-right: 40px
    &--phones
      margin-right: 82px
  &__main
    display: grid
    grid-template-columns: 770px 1fr
    grid-template-areas: "title photo" "menu photo" "calculate photo"
    grid-gap: 0 40px
  &__title
    grid-area: title
    min-height: 153px
    font-family: $font-secondary
    font-style: normal
    font-weight: 600
    font-size: 40px
    line-height: 54px
    letter-spacing: 0.02em
    color: $cl-secondary-1
  &__menu
    grid-area: menu
  &__calculate
    grid-area: calculate
  &__photo
    grid-area: photo
    display: flex
    justify-content: flex-end
    align-items: flex-start
    padding-top: 25px
    overflow: hidden
    width: 100%
    height: 100%
    &-img
      width: 100%
      border-radius: 10px
  &__icon
    position: absolute
    bottom: -115px
    right: 75px
    width: 145px
    height: 169px

.menu
  display: flex
  justify-content: flex-start
  align-items: flex-start
  flex-wrap: wrap
  margin-bottom: 135px
  &__item
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: center
    width: 127px
    font-family: $font-primary
    font-style: normal
    font-weight: 500
    font-size: 13px
    line-height: 16px
    text-align: center
    letter-spacing: 0.02em
    color: $cl-primary
    &-icon
      position: relative
      margin-bottom: 22px
      border-radius: 10px
      box-sizing: border-box
      width: 104px
      height: 104px
      background-size: 104px 104px
      background-position: center center
      transition: border-width .1s linear
      &--border
        position: absolute
        top: 0
        left: 0
        border: 0 solid transparent
        border-radius: 10px
        width: 100%
        height: 100%
        &-selected
          border-width: 5px
          border-color: $cl-secondary-1
        &:focus, &:hover
          border-width: 5px
          border-color: $cl-secondary-1

.calculate
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: center
  margin-right: 100px
  &__params
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-template-rows: repeat(2, 1fr)
    gap: 45px
    margin-bottom: 55px
  &__param
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: flex-start
  &__label
    margin-bottom: 19px
    font-family: $font-primary
    font-style: normal
    font-weight: 500
    font-size: 16px
    line-height: 20px
    letter-spacing: 0.02em
    color: $cl-primary
  &__input
    padding-bottom: 10px
    background-color: transparent
    border: none
    border-bottom: 1px solid $cl-primary
    font-family: Montserrat
    font-size: 14px
    font-weight: 400
    line-height: 17px
    letter-spacing: 0.02em
  &__btn.btn
    margin-bottom: 53px
    width: 276px
    height: 51px

@media (max-width: 1399.98px)
  .header
    &__burger
      margin-right: 70px
    &__contacts
      &--phones, &--socials
        display: none
    &__main
      grid-template-columns: 1fr
      grid-template-areas: "title" "menu" "calculate"
    &__photo
      display: none
    &__calculate
      align-items: flex-start
      margin-right: 0
    &__icon
      bottom: -131px
      right: 24px
      width: 56px

  .calculate
    &__params
      gap: 45px 80px
    &__btn.btn
      margin-bottom: 36px

  .menu
    flex-wrap: nowrap
    width: 100%

@media (max-width: 1023.98px)
  .header
    &__top
      justify-content: space-between
      padding-bottom: 70px
    &__contacts
      margin-left: 20px
    &__title
      min-height: 130px

  .calculate
    &__input
      max-width: 175px

  .menu
    justify-content: space-between
    &__item
      flex-shrink: 1
      width: 105px

@media (max-width: 767.98px)
  .header
    &__bg
      top: auto
      bottom: 124px
      &::before
        content: ''
        position: absolute
        top: -500px
        left: 0
        right: 0
        bottom: 100px
        background-color: $cl-secondary-3
    &__top
      padding-bottom: 38px
    &__title
      margin-bottom: 38px
      min-height: 0

  .calculate
    align-items: center
    &__params
      display: none

  .menu
    display: grid
    grid-template-columns: repeat(3, 1fr)
    gap: 25px 40px
    margin-bottom: 100px
    &__item
      width: 100%

@media (max-width: 575.98px)
  .header
    &__contacts
      display: none
    &__icon
      bottom: -148px
      width: 31px
    &__title
      font-size: 30px
      line-height: 40px

  .menu
    &__item-icon
      width: 87px
      height: 87px

  .menu
    grid-template-columns: 1fr 1fr
    gap: 25px 30px
