body
  background-color: $cl-secondary-1
  overflow: hidden

input:focus,
select:focus,
textarea:focus,
button:focus
  outline: none

.app
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  overflow-x: hidden
  overflow-y: auto

.container
  position: relative
  margin: 0 auto
  padding: 0 100px
  max-width: 1920px

.not-scrolling
  height: 100vh
  overflow-y: hidden !important

.gradient
  position: absolute
  top: 0
  // right: 0 -----> указывать отдельно для каждого элемента!
  width: 73%
  height: 100%

.main
  background-color: $cl-secondary-7
  // ! временная мера, пока страницы не заполнены нужными блоками
  &--artificial, &--fontains, &--dewatering, &--watering, &--landscaping, &--unknown
    padding: 20px 0
    font-weight: 600
    font-size: 20px

.subtitle
  text-align: center
  font-family: $font-secondary
  font-style: normal
  font-weight: 600
  font-size: 40px
  line-height: 54px
  letter-spacing: 0.02em
  color: $cl-primary
  &--light
    color: $cl-secondary-1
  &--left
    text-align: left
  &--left-light
    color: $cl-secondary-1
    text-align: left

// ! управление стилями компонентов - СТИЛЬ ДОЛЖЕН БЫТЬ СОСТАВНОЙ!
button
  &.btn
    border-color: $cl-secondary-5
    background-color: $cl-secondary-5
    font-family: $font-primary
    color: $cl-primary
    &:focus, &:hover
      background-color: $cl-secondary-4
      border-color: $cl-secondary-4
    &__close
      position: absolute
      top: 30px
      right: 30px
      padding: 0
      border: none
      background-color: transparent
      width: 20px
      height: 20px
      &:focus, &:hover
        background-color: transparent

.btn-call-order.btn
  background-color: transparent
  width: 241px
  min-height: 56px
  font-size: 16px
  line-height: 20px
  letter-spacing: 0.02em
  color: $cl-secondary-1
  &:focus, &:hover
    background-color: $cl-secondary-4
    border-color: $cl-secondary-4

.icon-logo
  display: flex
  align-items: center
  padding-left: 90px
  width: 147px
  height: 64px
  font-family: $font-secondary
  font-style: normal
  font-weight: 600
  font-size: 32px
  line-height: 44px
  color: $cl-secondary-1
  cursor: pointer
  transition: transform .2s ease-in-out
  &:focus, &:hover
    transform: scale(1.05)

.socials
  a:not(:last-child)
    margin-right: 30px

.contact
  &-social
    display: inline-block
    border-radius: 30%
    width: 41px
    height: 42px
    overflow: hidden
    &:focus, &:hover
      animation: wink 0.2s ease-in-out
    svg
      fill: $cl-secondary-1
  &-phone
    display: flex
    align-items: center
    height: 20px
    width: 210px
    font-family: $font-primary
    font-style: normal
    font-weight: 600
    font-size: 18px
    line-height: 22px
    color: $cl-secondary-1
    // animation: wink 0.2s ease-in-out
    svg
      margin-bottom: 0
      margin-right: 14px
      height: 100%
      fill: $cl-secondary-1
    &:focus, &:hover
      svg
        animation: wink 0.2s ease-in-out
    &:not(:last-child)
      margin-bottom: 18px

.phones
  display: flex
  flex-direction: column
  justify-content: center
  align-items: flex-start

.copyright
  font-family: $font-primary
  font-size: 13px
  font-weight: 400
  line-height: 16px
  letter-spacing: 0em

.item-check
  display: flex
  align-items: center
  &__icon
    flex-shrink: 0
    flex-grow: 0
    display: flex
    justify-content: center
    align-items: center
    margin-right: 18px
    width: 21px
    height: 21px
    svg
      width: 100%
      height: 100%
  &__text
    font-weight: 500
    font-size: 16px
    line-height: 19px

.card
  border-radius: 10px
  min-height: 521px
  max-width: 521px
  overflow: hidden
  &__header
    position: relative
    display: flex
    justify-content: center
    align-items: center
    // height: 385px
  &__photo
    position: relative
  &__text-wrapper
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    z-index: 4
    display: flex
    justify-content: center
    align-items: center
    padding: 20px
    &::after
      content: ''
      position: absolute
      top: 0
      right: 0
      bottom: 0
      left: 0
      z-index: 3
      background-color: rgba(0, 0, 0, 0.5)
      border-radius: 10px 10px 0 0
      opacity: 0
      transition: opacity .2s ease-in-out
    &:hover
      .card__text
        opacity: 1
      &::after
        opacity: 1
  &__text
    position: relative
    z-index: 4
    font-size: 17px
    font-weight: 500
    line-height: 21px
    letter-spacing: 0.02em
    color: $cl-secondary-1
    text-align: center
    opacity: 0
    transition: opacity .2s ease-in-out
  &__content
    flex-grow: 1
    flex-shrink: 1
    display: flex
    flex-direction: column
    align-items: flex-start
    padding: 30px 50px
    background-color: $cl-secondary-8
    opacity: 0.8
  &__title
    margin-bottom: 76px
    font-size: 26px
    font-weight: 500
    line-height: 32px
    letter-spacing: 0.02em
  &__features
    margin-bottom: 30px
  &__feature
    &:not(:last-child)
      margin-bottom: 30px
  &__btn.btn
    margin-top: auto
    padding: 5px 10px
    min-width: 265px
    min-height: 48px

// ! кастомный слайдер
.slider-container
  display: flex
  justify-content: center
.slider
  width: min(400px, 100%) !important
  height: 3px !important
  &::-moz-range-thumb
    height: 10px !important
    width: 30% !important
  &::-webkit-slider-thumb
    height: 10px !important
    width: 30% !important

@media (max-width: 1399.98px)
  .container
    padding: 0 24px

@media (max-width: 1023.98px)
  .card
    &__title
      margin-bottom: 45px
    &__feature
      &:not(:last-child)
        margin-bottom: 18px
    &__content
      padding: 20px
    &__btn.btn
      width: 100%

@media (max-width: 767.98px)
  .icon-logo
    padding-left: 72px
    height: 54px
    font-size: 20px
    line-height: 27px
  .contact
    &-phone
      font-size: 15px

  .btn-call-order.btn
    max-width: 100%
    width: 184px
    min-height: 50px
    font-size: 14px

  .copyright
    font-size: 10px
    line-height: 12px

  .gradient
    width: 80%

  .card
    width: 100%
    max-width: inherit
    &__photo
      width: 100%
      height: 400px
      object-fit: cover

@media (max-width: 575.98px)
  .icon-logo
    width: auto

  .subtitle
    font-size: 26px
    line-height: 35px

  .item-check
    &__icon
      margin-right: 15px
      width: 18px
      height: 18px
    &__text
      font-size: 13px
      line-height: 16px

  .card
    &__photo
      height: 250px
    &__title
      margin-bottom: 30px
    &__text
      font-size: 13px
      line-height: 16px
    &__btn.btn
      min-width: inherit
