body
  background-color: #fff

.container
  position: relative
  margin: 0 auto
  padding: 0 100px
  max-width: 1920px

.main
  background-color: #F8F8F8

.subtitle
  font-family: 'Open Sans'
  font-style: normal
  font-weight: 600
  font-size: 40px
  line-height: 54px
  letter-spacing: 0.02em

.btn
  border: 3px solid #66FFBB
  border-radius: 10px
  background-color: #66FFBB
  font-family: 'Montserrat'
  font-style: normal
  font-weight: 500
  font-size: 18px
  line-height: 22px
  letter-spacing: 0.02em
  color: #000000
  transition: background-color .2s ease-in-out, border-color .2s ease-in-out
  &:focus, &:hover
    background-color: #89bcf6
    border-color: #89bcf6
