body
  background-color: $cl-secondary-1
  overflow-x: hidden

input:focus,
select:focus,
textarea:focus,
button:focus
  outline: none

.container
  position: relative
  margin: 0 auto
  padding: 0 100px
  max-width: 1920px

.not-scrolling
  height: 100vh
  overflow-y: hidden !important

.gradient
  position: absolute
  top: 0
  // right: 0 -----> указывать отдельно для каждого элемента!
  width: 73%
  height: 100%

.main
  background-color: $cl-secondary-7

.subtitle
  text-align: center
  font-family: $font-secondary
  font-style: normal
  font-weight: 600
  font-size: 40px
  line-height: 54px
  letter-spacing: 0.02em
  color: $cl-primary
  &--light
    color: $cl-secondary-1
  &--left
    text-align: left
  &--left-light
    color: $cl-secondary-1
    text-align: left

.btn
  border: 3px solid $cl-secondary-5
  border-radius: 10px
  background-color: $cl-secondary-5
  font-family: $font-primary
  font-style: normal
  font-weight: 500
  font-size: 18px
  line-height: 22px
  letter-spacing: 0.02em
  color: $cl-primary
  transition: background-color .2s ease-in-out, border-color .2s ease-in-out
  &:focus, &:hover
    background-color: $cl-secondary-4
    border-color: $cl-secondary-4
  &__close
    position: absolute
    top: 30px
    right: 30px
    display: flex
    justify-content: center
    align-items: center
    border: none
    background-color: transparent
    width: 20px
    height: 20px
    &:focus, &:hover
      background-color: transparent
    svg
      stroke: $cl-primary
      stroke-width: 3px

.icon-logo
  display: flex
  align-items: center
  padding-left: 90px
  width: 147px
  height: 64px
  font-family: $font-secondary
  font-style: normal
  font-weight: 600
  font-size: 32px
  line-height: 44px
  color: $cl-secondary-1
  cursor: pointer

.socials
  a:not(:last-child)
    margin-right: 30px

.contact
  &-social
    display: inline-block
    border-radius: 30%
    width: 41px
    height: 42px
    overflow: hidden
    &:hover
      animation: wink 0.2s ease-in-out
    svg
      fill: $cl-secondary-1
  &-phone
    display: flex
    align-items: center
    height: 20px
    width: 210px
    font-family: $font-primary
    font-style: normal
    font-weight: 600
    font-size: 18px
    line-height: 22px
    color: $cl-secondary-1
    animation: wink 0.2s ease-in-out
    svg
      margin-bottom: 0
      margin-right: 14px
      height: 100%
      fill: $cl-secondary-1
    &:hover
      svg
        animation: wink 0.2s ease-in-out
    &:not(:last-child)
      margin-bottom: 18px

.btn-call-order
  background-color: transparent
  border: 3px solid $cl-secondary-5
  border-radius: 10px
  width: 241px
  height: 56px
  font-family: $font-primary
  font-style: normal
  font-weight: 500
  font-size: 16px
  line-height: 20px
  letter-spacing: 0.02em
  color: $cl-secondary-1
  transition: background-color .2s ease-in-out, border-color .2s ease-in-out
  &:focus, &:hover
    background-color: $cl-secondary-4
    border-color: $cl-secondary-4

.phones
  display: flex
  flex-direction: column
  justify-content: center
  align-items: flex-start

.copyright
  font-family: $font-primary
  font-size: 13px
  font-weight: 400
  line-height: 16px
  letter-spacing: 0em

// ! кастомный слайдер
.slider-container
  display: flex
  justify-content: center
.slider
  width: min(400px, 100%) !important
  height: 3px !important
  &::-moz-range-thumb
    height: 10px !important
    width: 30% !important
  &::-webkit-slider-thumb
    height: 10px !important
    width: 30% !important

@media (max-width: 1399px)
  .container
    padding: 0 24px

@media (max-width: 767.98px)
  .icon-logo
    padding-left: 72px
    height: 54px
    font-size: 20px
    line-height: 27px
  .contact
    &-phone
      font-size: 15px

  .btn-call-order
    width: 184px
    height: 50px
    font-size: 14px

  .copyright
    font-size: 10px
    line-height: 12px

  .gradient
    width: 80%

@media (max-width: 575.98px)
  .icon-logo
    width: auto

  .subtitle
    font-size: 26px
    line-height: 35px
