// ? Montserrat
@font-face
  font-family: "Montserrat"
  src: local("Montserrat"), local("Montserrat-Regular"), url(./assets/fonts/Montserrat-Regular.woff2) format("woff2"), url(./assets/fonts/Montserrat-Regular.woff) format("woff")
  font-display: swap
  font-weight: 400
  font-style: normal
@font-face
  font-family: "Montserrat"
  src: local("Montserrat"), local("Montserrat-Medium"), url(./assets/fonts/Montserrat-Medium.woff2) format("woff2"), url(./assets/fonts/Montserrat-Medium.woff) format("woff")
  font-display: swap
  font-weight: 500
  font-style: normal
@font-face
  font-family: "Montserrat"
  src: local("Montserrat"), local("Montserrat-SemiBold"), url(./assets/fonts/Montserrat-SemiBold.woff2) format("woff2"), url(./assets/fonts/Montserrat-SemiBold.woff) format("woff")
  font-display: swap
  font-weight: 600
  font-style: normal
@font-face
  font-family: "Montserrat"
  src: local("Montserrat"), local("Montserrat-Bold"), url(./assets/fonts/Montserrat-Bold.woff2) format("woff2"), url(./assets/fonts/Montserrat-Bold.woff) format("woff")
  font-display: swap
  font-weight: 700
  font-style: normal

// ? Open Sans
@font-face
  font-family: "Open Sans"
  src: local("OpenSans"), local("OpenSans-Regular"), url(./assets/fonts/OpenSans-Regular.woff2) format("woff2"), url(./assets/fonts/OpenSans-Regular.woff) format("woff")
  font-display: swap
  font-weight: 400
  font-style: normal
@font-face
  font-family: "Open Sans"
  src: local("OpenSans"), local("OpenSans-SemiBold"), url(./assets/fonts/OpenSans-SemiBold.woff2) format("woff2"), url(./assets/fonts/OpenSans-SemiBold.woff) format("woff")
  font-display: swap
  font-weight: 600
  font-style: normal
@font-face
  font-family: "Open Sans"
  src: local("OpenSans"), local("OpenSans-Bold"), url(./assets/fonts/OpenSans-Bold.woff2) format("woff2"), url(./assets/fonts/OpenSans-Bold.woff) format("woff")
  font-display: swap
  font-weight: 700
  font-style: normal
