// TODO! сжать шрифты для уменьшения веса???
// ? Montserrat
@font-face
  font-family: "Montserrat"
  src: local("Montserrat-Regular")
  src: url(./assets/fonts/Montserrat-Regular.woff2) format("woff2")
  src: url(./assets/fonts/Montserrat-Regular.woff) format("woff")
  font-display: swap
  font-weight: 400
  font-style: normal
@font-face
  font-family: "Montserrat"
  src: local("Montserrat-Medium")
  src: url(./assets/fonts/Montserrat-Medium.woff2) format("woff2")
  src: url(./assets/fonts/Montserrat-Medium.woff) format("woff")
  font-display: swap
  font-weight: 500
  font-style: normal
@font-face
  font-family: "Montserrat"
  src: local("Montserrat-SemiBold")
  src: url(./assets/fonts/Montserrat-SemiBold.woff2) format("woff2")
  src: url(./assets/fonts/Montserrat-SemiBold.woff) format("woff")
  font-display: swap
  font-weight: 600
  font-style: normal
@font-face
  font-family: "Montserrat"
  src: local("Montserrat-Bold")
  src: url(./assets/fonts/Montserrat-Bold.woff2) format("woff2")
  src: url(./assets/fonts/Montserrat-Bold.woff) format("woff")
  font-display: swap
  font-weight: 700
  font-style: normal

// ? Open Sans
@font-face
  font-family: "Open Sans"
  src: local("Montserrat-Regular")
  src: url(./assets/fonts/OpenSans-Regular.woff2) format("woff2")
  src: url(./assets/fonts/OpenSans-Regular.woff) format("woff")
  font-display: swap
  font-weight: 400
  font-style: normal
@font-face
  font-family: "Open Sans"
  src: local("OpenSans-SemiBold")
  src: url(./assets/fonts/OpenSans-SemiBold.woff2) format("woff2")
  src: url(./assets/fonts/OpenSans-SemiBold.woff) format("woff")
  font-display: swap
  font-weight: 600
  font-style: normal
@font-face
  font-family: "Open Sans"
  src: local("OpenSans-Bold")
  src: url(./assets/fonts/OpenSans-Bold.woff2) format("woff2")
  src: url(./assets/fonts/OpenSans-Bold.woff) format("woff")
  font-display: swap
  font-weight: 700
  font-style: normal
