// ! fonts
$font-primary: 'Ubuntu'
$font-secondary: 'Work Sans'

// ! colors
// ? colors brand
$cl-primary: #116ACC
$cl-secondary-1: #182233
$cl-secondary-2: #B3CEE2
$cl-secondary-3: #D9DDE7
$cl-secondary-4: #FD4E5D

// ? colors-grey
$cl-black: #000000
$cl-grey-1: #1F2937
$cl-grey-2: #374151
$cl-grey-3: #4B5563
$cl-grey-4: #6B7280
$cl-grey-5: #9CA3AF
$cl-grey-6: #D1D5DB
$cl-grey-7: #F3F4F6
$cl-white: #FFFFFF

// ? цвета уведомлений
$cl-info: #649dff
$cl-success: #76CA66
$cl-warning: #d29718
$cl-error: #BA0000

// размеры
// $info-standart-size: 1
// $checkbox-standart-size: 1
// $record-standart-size: 1
// $btn-icon-standart-size: 1
// $link-text-icon-standart-size: 1
